* text=auto eol=lf
*.php text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
vendor/ linguist-vendored
node_modules/ linguist-vendored
